main img{
    height: 200px;
}

#bab-8{
    padding-bottom: 75px;
}

#ph-arab-bab-8{
    margin-bottom: 38px;
}


.navbar-brand:hover{
    background-color: rgb(17, 57, 145);
    color: aliceblue;
    padding: 7px;
    transition: 0.2s;
    border-width: 1px;
    border-radius: 5px;

}

.nav-item a:hover{
    color: rgb(5, 86, 161);
    
}

.nav-item a::after{
    content: "";
    display: block;
    padding-bottom: 8px;
    border-bottom: 4px solid rgb(4, 89, 168);
    transform: scaleX(0);
    transition: 0.2s;
}

.nav-item a:hover::after{
    transform: scaleX(0.5);
}

@media (max-width: 758px) {
    .nav-item a::after {
        transform-origin: 0 0;
        
    }
    .nav-item a:hover::after{
        transform: scaleX(0.1);
    }


    
}